*.obj
*.tlog
*.ipch
*.db
*.exe
*.lib
*.pdf
*.log
*recipe
*.idb
*.pch
*.log
*.iobj
*.ipdf
*.bak
*.ilk
*.pdb
*.res
*.ipdb
*.mp3
*.wav
*.png
*.bmp
*.psd
*.jpg
*.dds
*.tga
*.jpeg



!fmod.dll
!fmod64.dll
Engine/.vs